<div class="wrapper">
    <div class="box">
        <h3>Login</h3>
        <div class="inputs">
            Usuário
        </div>
        <div class="inputs">
            Senha
        </div>
        <div class="links">
            <a href=""
               (click)="acessar()">
                Acessar
            </a>
            <a href=""
               routerLink="/recuperar-senha">
                Esqueci a senha
            </a>
            <a href=""
               routerLink="/auto-cadastro">
                Cadastrar conta
            </a>
        </div>
    </div>
</div>