<div class="container-wrap">
    <div class="titulo">
        <h2>Lista de perfis de acesso!</h2>
        <button class="btn"
                type="button"
                routerLink="adicionar">Adicionar</button>
    </div>
    <table class="table">
        <tr>
            <th>
                Perfil de acesso
            </th>
            <th>
                Data da Criação
            </th>
        </tr>
        <tr>
            <td>Adminstrador</td>
            <td>10/08/2020</td>
        </tr>
        <tr>
            <td>Visitante</td>
            <td>10/05/2020</td>
        </tr>

    </table>
</div>