<div class="container-wrap">
    <div class="titulo">
        <h2>Lista de usuários!</h2>
        <button class="btn"
                type="button"
                routerLink="adicionar">Adicionar</button>
    </div>
    <table class="table">
        <tr>
            <th>
                Usuário
            </th>
            <th>
                E-mail
            </th>
            <th>
                Perfil de Acesso
            </th>
        </tr>
        <tr>
            <td>Ivan Villacorta</td>
            <td>ivan@hotmail.com</td>
            <td>Administrador</td>
        </tr>
        

    </table>
</div>
