<ul>
    <li>
        <h4>Acessos</h4>
        <ul>
            <li>
                <a (click)="perfisAcesso()">Perfis de Acesso</a>
            </li>
            <li>
                <a (click)="usuarios()">Usuários</a>
            </li>
        </ul>
    </li>
    <li>
        <h4>Produtos</h4>
        <ul>
            <li>
                <a (click)="monitores()">Monitores</a>
            </li>
            <li>
                <a (click)="teclados()">Teclados</a>
            </li>
        </ul>
    </li>
</ul>