<div class="wrapper">
    <div class="box">
        <h3>Cadastrar Conta</h3>
        <div class="inputs">
            Usuário
        </div>
        <div class="inputs">
            Senha
        </div>
        <div class="inputs">
            Confirmar Senha
        </div>
        <div class="links">
            <a href="/login">
                Voltar
            </a>
            <a href=""
               routerLink="/login">
                Salvar
            </a>
        </div>
    </div>
</div>