@import "../scss/variables";

.wrapper {
    display: grid;
    place-content: center;
    height: 100vh;
    .box {
        background: $branco;
        width: 500px;
        height: auto;
        border: $cinza-claro 1px solid;
        border-radius: 20px;
        padding: 10px;
        @media (max-width: 768px) {
            width: 300px;
        }
        .inputs {
            display: flex;
            align-items: center;
            height: 40px;
            border: $cinza-claro 1px solid;
            border-radius: 20px;
            margin-bottom: 15px;
            padding: 0 10px;
        }
        .links {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}
