@import "../../../scss/variables";

.wrapper {
    display: grid;
    grid-template-rows: 5rem 5rem 1fr 2rem;
    grid-template-areas:
        "headers"
        "sidebar"
        "main"
        "footer";
    height: 100vh;

    @media (min-width: 64em) {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 5rem 1fr 2rem;
        grid-template-areas:
            "headers headers headers headers headers headers headers headers headers headers headers headers"
            "sidebar sidebar main main main main main main main main main main"
            "sidebar sidebar footer footer footer footer footer footer footer footer footer footer";
    }
}

header {
    grid-area: headers;
    background: $cinza;
}

aside {
    grid-area: sidebar;
    background: $branco;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
