@import "../../../../scss/variables";

.sidebar {
    .menu-responsive {
        display: flex;
        align-items: center;
        height: 5rem;
        margin-left: 15px;
        @media (min-width: 64em) {
            display: none;
        }
    }

    .nav-responsive {
        position: absolute;
        left: -200px;

        @media (min-width: 64em) {
            display: none;
        }
    }

    .nav {
        background: $branco;
        position: absolute;
        left: 0px;
    }

    .nav-desktop {
        display: none;
        @media (min-width: 64em) {
            display: block;
        }
    }
}
