<div class="container-wrap">
    <div class="titulo">
        <h2>Lista de teclados!</h2>
        <button class="btn"
                type="button"
                routerLink="adicionar">Adicionar</button>
    </div>
    <table class="table">
        <tr>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
        </tr>
        <tr>
            <td>Logitech</td>
            <td>K120</td>
        </tr>
        <tr>
            <td>Microsoft</td>
            <td>Desktop 600</td>
        </tr>

    </table>
</div>
