<div class="container-wrap">
    <div class="titulo">
        <h2>Lista de monitores!</h2>
        <button class="btn"
                type="button"
                routerLink="adicionar">Adicionar</button>
    </div>
    <table class="table">
        <tr>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
        </tr>
        <tr>
            <td>LG</td>
            <td>LED 23 Widescreen</td>
        </tr>
        <tr>
            <td>Samsung</td>
            <td>LS24D332HSXZD</td>
        </tr>

    </table>
</div>